*.aux
*.bbl
*.blg
*.fdb_latexmk
*.fls
*.log
*.pdf
.*.swp
*.o
*.dep.mk
math/prime_list/list.cpp
xorshift
factor
fermat_primality_test
generate_prime_number
primitive_root
math/prime_list/generate_list
test/test
