*.aux
*.bbl
*.blg
*.fdb_latexmk
*.fls
*.log
*.nav
*.out
*.pdf
*.snm
*.toc
.*.swp
*.o
*.dep.mk
math/prime_list/list.cpp
xorshift
diffie_hellman
factor
fermat_primality_test
generate_prime_number
pinch_dealer
pinch_user
primitive_root
rsa
math/prime_list/generate_list
test/test
